.sudoku-cell {
    min-width: 7.5vh;
    min-height: 7.5vh;
    background-color: var(--color-primary);
    border: 1px dotted var(--color-tertiary);

    &:hover {
        background-color: var(--color-secondary);
    }
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    border: 2px solid var(--color-tertiary);
}

.sudoku-region {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    border: 1px solid var(--color-tertiary);
}